# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Data and model files
*.pkl
*.h5
*.csv
*.tsv
*.xlsx
*.db

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.swp
*.bak
*.tmp

# Ignore environment variables
.env
